{#
/**
 * @file
 * Custom block implementation for the RACC social feed module.
 *
 * Available variables:
 * - menu: The content of the menu for the get__connected list. Include strings with social media urls.
 * - content: Content of the block. It has the social media post info in an array that has:
 *   - [0]: Media (image) url.
 *   - [1]: Social Media account name/Social Media post's text (on Facebook).
 *   - [2]: Link to the social media post.
 *   - [3]: Name of the social media.
 *   - [4]: Social Media account name (on Facebook).
 * - test: Prints an String for testing.
 */
#}
<div class="social__feed">
  <div id="get__connected">
    <h2> GET <br> CONNECTED </h2>
    <ul>
    </ul>
  </div>
  {% for post in content %}
    {% if post[3] == "instagram" %}
      <div class="instagram_post">
        <a href="{{ post[2] }}">
          <img src="{{ post[0] }}">
          <div class="account">
            <i class="fa fa-instagram"></i><p>{{ post[1] }}</p>
          </div>
        </a>
      </div>
    {% endif %}
    {% if post[3] == "facebook" %}
      <div class="facebook_post">
        <a href="{{ post[2] }}">
          <img src="{{ post[0] }}">
          <p> {{ post[1] }} </p>
          <div class="account">
            <i class="fa fa-facebook"></i><p id="page_name">{{ post[4] }}</p>
          </div>
        </a>
      </div>
    {% endif %}
  {% endfor %}
</div>